.gradient-background {
    background: linear-gradient(300deg,black,red,rgb(1, 1, 111), black);
    background-size: 180% 180%;
    animation: gradient-animation 5s ease infinite;
  }
  
  .gradient{
    background: linear-gradient(300deg,rgba(0, 255, 34, 1),rgba(225, 165, 15, 0.5),rgba(255, 255, 255,0.2), rgba(0, 0, 0,0.2));
    background-size: 180% 180%;
    animation: gradient-animation 5s ease infinite;
  }
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .product-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .product-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .product-item img {
    width: 100%;
    height: auto;
    transition: transform 0.3s;
  }
  
  .product-details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .product-item:hover img {
    transform: scale(1.1);
  }
  
  .product-item:hover .product-details {
    opacity: 1;
  }
h1{
    font-family: 'Barriecito', cursive;
    text-align: center;
    font-size: 70px;
    color: rgb(255, 38, 0);
    margin: 0;
    cursor: pointer;
    font-weight: 1000;
}
h1 span{
    color: white;
    font-weight: 2000;
}
h1 span:hover{
    color: rgb(190, 189, 189);

}
.larger-svg{
    width: 30px;
    height: 30px;
}
.logo-text{
    font-family: Audiowide;

    text-align: center;
}
.logo-text span{
    color: red;
}

.loader{
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.8);
    transition: opacity 0.75s,visibility 0.75s;
  }
  .loader-hidden{
    opacity: 0;
    visibility: hidden;
  }
  .loader::after{
    content: "";
    width: 75px;
    height: 75px;
    border:15px solid #dddddd;
    border-top-color:red;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
  }
  
  @keyframes loading{
    from{
      transform: rotate(0turn);
  
    }
    to{
      transform: rotate(1turn);
    }
  }
  .items{
    width: 100%;
    height: 10vh;
    max-width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
.options{
    min-width: 40%;
    max-width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}
.options input,select{
 background-color: rgba(0, 0, 0,0.2);
 border: 0;
 padding: 10px;
 color:white
}
option:active{
    background-color: rgba(0, 0, 0,0.2);
    color:black
}
button{
    height: 2.2rem;
    border: 0;
    outline: 0;
    background-color: red;
    color:white;
    font-weight: 700;
    border-radius: 4px;
}
button:focus{
    background-color: rgb(85, 1, 1);
}
a{
  color:white;
}
